# Cache
__pycache__/
*.py[cod]
*$py.class
.cache
scraper_motor/scraper_motor/spiders/__pycache__/
scraper_motor/scraper_motor/spiders/__pycache__/*
scraper_motor/scraper_motor/_pycache_
# Develop
.idea/
venv/
# logs
.log/*
scraper_motor/scraper_motor/.log/*
# outputs
output/*
.output/*
scraper_motor/scraper_motor/spiders/.output/*
_datascience/*.csv
app.log
_datascience/ETL.csv
scraper_motor/scraper_motor/spiders/*.csv
scraper_motor/scraper_motor/spiders/*.log
