# Cache
_pycache_/
scraper_motor/scraper_motor/spiders/__pycache__/
scraper_motor/scraper_motor/_pycache_
# Develop
.idea/
venv/
# logs
.log/*
scraper_motor/scraper_motor/spiders/.log/*
# outputs
output/*
.output/*
scraper_motor/scraper_motor/spiders/.output/*
